/NetBeansProjects/SetterGetter/nbproject/private/
/NetBeansProjects/SetterGetterMusic/nbproject/private/
/NetBeansProjects/SetterGetter/build/
/NetBeansProjects/SetterGetter2/nbproject/private/
/NetBeansProjects/SetterGetter2/build/
/NetBeansProjects/GetterSetterMethodPizza/nbproject/private/
/NetBeansProjects/GetterSetterMethodPizza/build/
/NetBeansProjects/gettersettermethodCircle/nbproject/private/
/NetBeansProjects/gettersettermethodCircle/build/
/NetBeansProjects/Student/nbproject/private/
/NetBeansProjects/Student/build/