/NetBeansProjects/SetterGetter/nbproject/private/
/NetBeansProjects/SetterGetterMusic/nbproject/private/
/NetBeansProjects/SetterGetter/build/
/NetBeansProjects/SetterGetter2/nbproject/private/
/NetBeansProjects/SetterGetter2/build/
/NetBeansProjects/GetterSetterMethodPizza/nbproject/private/
/NetBeansProjects/GetterSetterMethodPizza/build/
/NetBeansProjects/gettersettermethodCircle/nbproject/private/
/NetBeansProjects/gettersettermethodCircle/build/
/NetBeansProjects/Student/nbproject/private/
/NetBeansProjects/Student/build/
/NetBeansProjects/SortDoubles/nbproject/private/
/NetBeansProjects/SortDoubles/build/
/NetBeansProjects/HairSalon/nbproject/private/
/NetBeansProjects/HairSalon/build/
/NetBeansProjects/JavaApplication9/nbproject/private/
/NetBeansProjects/test/nbproject/private/
/NetBeansProjects/BrickBreaker/nbproject/private/
/NetBeansProjects/BrickBreaker/build/
/NetBeansProjects/BrickBreaker/dist/
/NetBeansProjects/test/build/
/NetBeansProjects/Car/nbproject/private/
/NetBeansProjects/Car/build/
/NetBeansProjects/Employee/nbproject/private/
/NetBeansProjects/Employee/build/
/NetBeansProjects/Book/nbproject/private/
/NetBeansProjects/Book/build/
/NetBeansProjects/HotelRoom/nbproject/private/
/NetBeansProjects/HotelRoom/build/
/NetBeansProjects/CoffeeShop/nbproject/private/
/NetBeansProjects/CoffeeShop/build/