/NetBeansProjects/SetterGetter/nbproject/private/
/NetBeansProjects/SetterGetterMusic/nbproject/private/
/NetBeansProjects/SetterGetter/build/
/NetBeansProjects/SetterGetter2/nbproject/private/
/NetBeansProjects/SetterGetter2/build/
/NetBeansProjects/GetterSetterMethodPizza/nbproject/private/
/NetBeansProjects/GetterSetterMethodPizza/build/
/NetBeansProjects/gettersettermethodCircle/nbproject/private/
/NetBeansProjects/gettersettermethodCircle/build/
/NetBeansProjects/Student/nbproject/private/
/NetBeansProjects/Student/build/
/NetBeansProjects/SortDoubles/nbproject/private/
/NetBeansProjects/SortDoubles/build/
/NetBeansProjects/HairSalon/nbproject/private/
/NetBeansProjects/HairSalon/build/
/NetBeansProjects/JavaApplication9/nbproject/private/
/NetBeansProjects/test/nbproject/private/
/NetBeansProjects/BrickBreaker/nbproject/private/
/NetBeansProjects/BrickBreaker/build/
/NetBeansProjects/BrickBreaker/dist/
/NetBeansProjects/test/build/
/NetBeansProjects/Car/nbproject/private/
/NetBeansProjects/Car/build/
/NetBeansProjects/Employee/nbproject/private/
/NetBeansProjects/Employee/build/
/NetBeansProjects/Book/nbproject/private/
/NetBeansProjects/Book/build/
/NetBeansProjects/HotelRoom/nbproject/private/
/NetBeansProjects/HotelRoom/build/
/NetBeansProjects/CoffeeShop/nbproject/private/
/NetBeansProjects/CoffeeShop/build/
/NetBeansProjects/Square/nbproject/private/
/NetBeansProjects/Square/build/
/NetBeansProjects/Book_abstract/nbproject/private/
/NetBeansProjects/Book_abstract/build/
/NetBeansProjects/Account/nbproject/private/
/NetBeansProjects/Account/build/
/NetBeansProjects/Player/nbproject/private/
/NetBeansProjects/Player/build/
/NetBeansProjects/Turner/nbproject/private/
/NetBeansProjects/Turner/build/
/NetBeansProjects/FilesPractice/nbproject/private/
/NetBeansProjects/FilesPractice/build/
/NetBeansProjects/FileStatistics/nbproject/private/
/NetBeansProjects/FileStatistics/build/
/NetBeansProjects/WritePhoneList/nbproject/private/
/NetBeansProjects/WritePhoneList/build/
/NetBeansProjects/GoTooFar/nbproject/private/
/NetBeansProjects/GoTooFar/build/
/NetBeansProjects/NegativeArray/nbproject/private/
/NetBeansProjects/FileInputOutputDemo/nbproject/private/
/NetBeansProjects/FileInputOutputDemo/build/
NetBeansProjects/FileInputOutputDemo/MyNewFile3.txt
NetBeansProjects/FilesPractice/test.txt
NetBeansProjects/FilesPractice/testtest.txt
NetBeansProjects/FilesPractice/testtest1.txt
/NetBeansProjects/Assignment2/nbproject/private/
/NetBeansProjects/Assignment2/build/
/NetBeansProjects/SimpleSwingExample/nbproject/private/
/NetBeansProjects/SimpleSwingExample/build/
/NetBeansProjects/FirstFramePractice/nbproject/private/
/NetBeansProjects/FirstFramePractice/build/
/NetBeansProjects/PushCounter/nbproject/private/
/NetBeansProjects/PushCounter/build/
/NetBeansProjects/PushCounter/dist/
/NetBeansProjects/Swiching/nbproject/private/
/NetBeansProjects/Swiching/build/
/NetBeansProjects/Swiching/dist/
/NetBeansProjects/Swichingtest/nbproject/private/
/NetBeansProjects/Swichingtest/build/
/NetBeansProjects/てst/nbproject/private/
/NetBeansProjects/Demoforfx/nbproject/private/
/NetBeansProjects/Demoforfx/dist/
/NetBeansProjects/Demoforfx/build/
/NetBeansProjects/JavaFXApplicationdemo/nbproject/private/
/NetBeansProjects/JavaFXApplicationdemo/dist/
/NetBeansProjects/JavaFXApplicationdemo/build/
/NetBeansProjects/Switching/nbproject/private/
/NetBeansProjects/Switching/build/
/NetBeansProjects/TaxCalculator/nbproject/private/
/NetBeansProjects/TaxCalculator/build/
/NetBeansProjects/ DatabasePractice/nbproject/private/
/NetBeansProjects/FirstFramePractice/dist/
/NetBeansProjects/LoginLogout/nbproject/private/
/NetBeansProjects/Login/nbproject/private/
/NetBeansProjects/Login/build/
/NetBeansProjects/Login/dist/
/NetBeansProjects/JavaFXApplication11/nbproject/private/
/NetBeansProjects/JavaFXApplication11/build/
/NetBeansProjects/videoStore/nbproject/private/
/NetBeansProjects/videoStore/build/
/NetBeansProjects/Assignment2/dist/
/NetBeansProjects/videoStore/dist/
/NetBeansProjects/JInsurance/nbproject/private/
/NetBeansProjects/JInsurance/build/
/NetBeansProjects/JInsurance/dist/
/NetBeansProjects/JavaFXSwingApplication5/nbproject/private/
/NetBeansProjects/JavaFXSwingApplication5/build/
/NetBeansProjects/JavaFXSwingApplication5/dist/
/NetBeansProjects/JPoliticalFrame/nbproject/private/
/NetBeansProjects/JPoliticalFrame/build/
/NetBeansProjects/JPoliticalFrame/dist/
/NetBeansProjects/JEMail/nbproject/private/
/NetBeansProjects/JEMail/dist/
/NetBeansProjects/JEMail/build/
/NetBeansProjects/SummervaleResort/nbproject/private/
/NetBeansProjects/SummervaleResort/build/
/NetBeansProjects/SummervaleResort/dist/
/NetBeansProjects/ArrayListPractice/nbproject/private/
/NetBeansProjects/ArrayListPractice/build/
/NetBeansProjects/ArrayListPractice/dist/
/NetBeansProjects/LinkedListExample/nbproject/private/
/NetBeansProjects/IteratorExample/nbproject/private/
/NetBeansProjects/IteratorExample/build/
/NetBeansProjects/ComparatorAndComparable/nbproject/private/
/NetBeansProjects/ComparatorAndComparable/build/
/NetBeansProjects/StackSample/nbproject/private/
/NetBeansProjects/StackSample/build/
/NetBeansProjects/QueueSample/nbproject/private/
/NetBeansProjects/QueueSample/build/
/NetBeansProjects/ArrayList_Stack/nbproject/private/
/NetBeansProjects/ArrayList_Stack/build/
/NetBeansProjects/Linkedlist_Queue/nbproject/private/
/NetBeansProjects/Linkedlist_Queue/build/
/NetBeansProjects/setCalculator/nbproject/private/
/NetBeansProjects/setCalculator/build/